<?php

/**
 * Created by PhpStorm.
 * User: ito
 * Date: 2017/05/26
 * Time: 15:04
 */
use imasami\FactoryGas\FactoryGas;
$factory = FactoryGas::getInstance();

// ---------------------------------------------------------------------------

$factory->define('TABLE_NAME', 'FACTORY_NAME', [
  'COLUMN_1' => 1,
  'COLUMN_2' => 1,
]);
